In [1]:
import yfinance as yf

In [2]:
#define ticker symbol
tickersymbol = 'MSFT'

In [3]:
#get ticker data on this ticker
tickerdata = yf.Ticker(tickersymbol)

In [4]:
#get historical prices for this ticker 
tickerdf = tickerdata.history(period='1d',start='2018-01-10',end='2020-11-19')

In [5]:
tickerdf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-09,84.971614,85.048296,84.214393,84.559456,19484300,0.0,0
2018-01-10,84.214397,84.530706,83.783072,84.176056,18652200,0.0,0
2018-01-11,84.473183,84.473183,83.620113,84.425262,17808900,0.0,0
2018-01-12,84.990775,86.054718,84.779903,85.882187,24271500,0.0,0
2018-01-16,86.361438,87.022810,84.358163,84.684052,36599700,0.0,0

#### Another way of doing using pandas datareader

In [6]:
import pandas_datareader.data as web

In [7]:
df = web.DataReader('DIS', 'yahoo',start='2018-01-10',end='2020-11-19')
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-09,110.860001,109.860001,110.129997,109.940002,5838000.0,106.917191
2018-01-10,110.500000,109.010002,109.959999,109.470001,6060000.0,106.460114
2018-01-11,111.080002,109.510002,110.250000,110.989998,6427000.0,107.938324
2018-01-12,112.720001,111.000000,111.320000,112.470001,5899900.0,109.377632
2018-01-16,113.160004,110.620003,113.070000,110.690002,8069200.0,107.646576